<div>

    <h2>Products</h2>

    <script type = "text/ng-template" id="product-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myProductLabel">Create or edit a Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="product.id" readonly>
                </div>


                <div class="form-group">
                    <label>Name:</label>

                    <input type="text" class="form-control" name="name"
                           ng-model="product.name" ng-required="true"
                           ng-minlength=1 ng-maxlength=50 />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least 1 characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 50 characters.</span>
                </div>

                <div class="form-group">
                    <label>Type:</label>

                    <label class="radio"><input type="radio" name="type" value="chair"
                           ng-model="product.type" ng-required="true"/> chair </label>
                    <label class="radio"><input type="radio" name="type" value="stool"
                           ng-model="product.type" ng-required="true"/> stool </label>
                    <label class="radio"><input type="radio" name="type" value="basket"
                           ng-model="product.type" ng-required="true"/> basket </label>
                    <label class="radio"><input type="radio" name="type" value="cup"
                           ng-model="product.type" ng-required="true"/> cup </label>
                    <label class="radio"><input type="radio" name="type" value="bowl"
                           ng-model="product.type" ng-required="true"/> bowl </label>
                </div>

                <div class="form-group">
                    <label>Weight:</label>

                    <input type="number" class="form-control" name="weight"
                           ng-model="product.weight" ng-required="true"
                           min=1 />
                    <span class="error" ng-show="form.weight.$error.min">Must be greater than or equal to 1.</span>
                    <span class="error" ng-show="form.weight.$error.max">Must be less than or equal to .</span>
                </div>

                <div class="form-group">
                    <label>Time to Build:</label>

                    <input type="number" class="form-control" name="time_to_build"
                           ng-model="product.time_to_build" ng-required="true"
                           min=0 />
                    <span class="error" ng-show="form.time_to_build.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.time_to_build.$error.max">Must be less than or equal to .</span>
                </div>

                <div class="form-group">
                    <label>Selling Price:</label>

                    <input type="number" class="form-control" name="selling_price"
                           ng-model="product.selling_price" ng-required="true"
                           />
                    <span class="error" ng-show="form.selling_price.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.selling_price.$error.max">Must be less than or equal to .</span>
                </div>

                <!-- Raw Material Selection -->
                <div class="form-group">
                    <label>Raw Material:</label>

                    <select 
                        id="raw-material-select"
                        name="raw_material"
                        ng-model="product.raw_material_id"
                        ng-options="rm.id as rm.name for rm in raw_materials"
                        ng-required="true">
                    </select>
                </div>
               
                <div class="form-group">
                    <label>Color:</label>

                    <label class="radio"><input type="radio" name="color" value="white"
                           ng-model="product.color" ng-required="true"/> white </label>
                    <label class="radio"><input type="radio" name="color" value="red"
                           ng-model="product.color" ng-required="true"/> red </label>
                    <label class="radio"><input type="radio" name="color" value="green"
                           ng-model="product.color" ng-required="true"/> green </label>
                    <label class="radio"><input type="radio" name="color" value="blue"
                           ng-model="product.color" ng-required="true"/> blue </label>
                    <label class="radio"><input type="radio" name="color" value="yellow"
                           ng-model="product.color" ng-required="true"/> yellow </label>
                    <label class="radio"><input type="radio" name="color" value="clear"
                           ng-model="product.color" ng-required="true"/> clear </label>
                    <label class="radio"><input type="radio" name="color" value="grey"
                           ng-model="product.color" ng-required="true"/> grey </label>
                    <label class="radio"><input type="radio" name="color" value="brown"
                           ng-model="product.color" ng-required="true"/> brown </label>
                    <label class="radio"><input type="radio" name="color" value="other"
                           ng-model="product.color" ng-required="true"/> other </label>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Product
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>

                <th>name</th>

                <th>type</th>

                <th>weight</th>

                <th>time_to_build</th>

                <th>selling_price</th>

                <th>color</th>

                <th>created_at</th>

                <th>updated_at</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.id}}</td>

                <td>{{product.name }}</td>

                <td>{{product.type }}</td>

                <td>{{product.weight }}</td>

                <td>{{product.time_to_build }}</td>

                <td>{{product.selling_price }}</td>

                <td>{{product.color }}</td>

                <td>{{product.created_at  | date:'yyyy-MM-dd'}}</td>

                <td>{{product.updated_at  | date:'yyyy-MM-dd'}}</td>

                <td>
                    <button type="submit"
                            ng-click="update(product.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(product.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
