<div>

    <h2>Shifts</h2>

    <script type = "text/ng-template" id="Shift-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myShiftLabel">Create or edit a Shift</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Shift.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>shift_name:</label>
                    
                    <input type="text" class="form-control" name="shift_name"
                           ng-model="Shift.shift_name" ng-required="false"
                           />
                    <span class="error" ng-show="form.shift_name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.shift_name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>start_time:</label>
                    
                    <input type="number" class="form-control" name="start_time"
                           ng-model="Shift.start_time" ng-required="false"
                           />
                    <span class="error" ng-show="form.start_time.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.start_time.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>end_time:</label>
                    
                    <input type="number" class="form-control" name="end_time"
                           ng-model="Shift.end_time" ng-required="false"
                           />
                    <span class="error" ng-show="form.end_time.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.end_time.$error.max">Must be less than or equal to .</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Shift
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>shift_name</th>
                
                <th>start_time</th>
                
                <th>end_time</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Shift in Shifts">
                <td>{{Shift.id}}</td>
                
                <td>{{Shift.shift_name }}</td>
                
                <td>{{Shift.start_time }}</td>
                
                <td>{{Shift.end_time }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(Shift.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(Shift.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
