<div>

    <h2>Schedules</h2>

    <script type = "text/ng-template" id="New-Schedule.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myScheduleLabel">Create New Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Date:</label>
                    
                    <input type="text" class="form-control" name="date" ui-date="dateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="Schedule.date" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>Num Shifts / Day:</label>
                    
                    <input type="text" class="form-control" name="shift_name"
                           ng-model="Schedule.shift_name" ng-required="false"
                           />
                    <span class="error" ng-show="form.shift_name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.shift_name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>manager_id:</label>
                    
                    <input type="number" class="form-control" name="manager_id"
                           ng-model="Schedule.manager_id" ng-required="false"
                           />
                    <span class="error" ng-show="form.manager_id.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.manager_id.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>Num Machines:</label>
                    
                    <input type="number" class="form-control" name="assigned_machine"
                           ng-model="Schedule.assigned_machine" ng-required="false"
                           />
                    <span class="error" ng-show="form.assigned_machine.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.assigned_machine.$error.max">Must be less than or equal to .</span>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type = "text/ng-template" id="Schedule-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myScheduleLabel">Edit a Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Schedule.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>date:</label>
                    
                    <input type="text" class="form-control" name="date" ui-date="dateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="Schedule.date" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>shift_name:</label>
                    
                    <input type="text" class="form-control" name="shift_name"
                           ng-model="Schedule.shift_name" ng-required="false"
                           />
                    <span class="error" ng-show="form.shift_name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.shift_name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>employee_id:</label>
                    
                    <input type="number" class="form-control" name="employee_id"
                           ng-model="Schedule.employee_id" ng-required="false"
                           />
                    <span class="error" ng-show="form.employee_id.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.employee_id.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>manager_id:</label>
                    
                    <input type="number" class="form-control" name="manager_id"
                           ng-model="Schedule.manager_id" ng-required="false"
                           />
                    <span class="error" ng-show="form.manager_id.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.manager_id.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>is_in_duty:</label>
                    
                    <input type="checkbox" name="is_in_duty"
                           ng-model="Schedule.is_in_duty" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>assigned_machine:</label>
                    
                    <input type="number" class="form-control" name="assigned_machine"
                           ng-model="Schedule.assigned_machine" ng-required="false"
                           />
                    <span class="error" ng-show="form.assigned_machine.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.assigned_machine.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>sign_in_at:</label>
                    
                    <input type="text" class="form-control" name="sign_in_at" ui-date="sign_in_atDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="Schedule.sign_in_at" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>sign_out_at:</label>
                    
                    <input type="text" class="form-control" name="sign_out_at" ui-date="sign_out_atDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="Schedule.sign_out_at" ng-required="false"/>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-raised" ng-click="create()">
        <i class="material-icons">add_circle</i> Add Schedule
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>date</th>
                
                <th>shift_name</th>
                
                <th>employee_id</th>
                
                <th>manager_id</th>
                
                <th>is_in_duty</th>
                
                <th>assigned_machine</th>
                
                <th>sign_in_at</th>
                
                <th>sign_out_at</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Schedule in Schedules">
                <td>{{Schedule.id}}</td>
                
                <td>{{Schedule.date  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{Schedule.shift_name }}</td>
                
                <td>{{Schedule.employee_id }}</td>
                
                <td>{{Schedule.manager_id }}</td>
                
                <td>{{Schedule.is_in_duty }}</td>
                
                <td>{{Schedule.assigned_machine }}</td>
                
                <td>{{Schedule.sign_in_at  | date:'yyyy-MM-dd'}}</td>
                
                <td>{{Schedule.sign_out_at  | date:'yyyy-MM-dd'}}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(Schedule.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(Schedule.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
