<!doctype html>
<html lang="en" ng-app="prodmgmt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Production Manager</title>
  
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">


  <!-- Bootstrap -->
  <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  
  <!-- Bootstrap Material Design -->
  <link href="lib/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="lib/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  
  <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- BS theme uses different colors for buttons. So, comment out-->
  <!--link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"-->

  <!--link href="lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"-->
  <link href="css/app.css" rel="stylesheet">
</head>
<body>
 <nav class="navbar navbar-fixed-top" role="navigation" ng-if="location.path() !== '/login'">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#" onclick="return false;">DeodarPark</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse navbar-ex1-collapse">
       <ul class="nav navbar-nav">

         <li>
         <a href="/#/products">Product</a>
         </li>

         <li>
         <a href="/#/raw_materials">Raw Material</a>
         </li>

         <li>
         <a href="/#/Orders">Order</a>
         </li>

         <li>
         <a href="/#/Productionentries">Production Entry</a>
         </li>

         <li>
         <a href="/#/Machines">Machine</a>
         </li>

         <li>
         <a href="/#/Shifts">Shift</a>
         </li>

         <li>
         <a href="/#/Schedules">Schedule</a>
         </li>

         <li>
         <a href="/#/Users">Employee</a>
         </li>

         <li ng-controller="logoutController">
          <a ng-click="logout()">Logout</a>
         </li>

       </ul>
     </div>
     <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
  </nav>
  <div class="container" ng-view></div>
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/jquery-ui/jquery-ui.js"></script>
  <script src="lib/lodash/dist/lodash.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/angular-cookies/angular-cookies.js"></script>
  <!-- Boostrap Material Design [START] -->
  <script src="lib/bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="lib/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <!-- Boostrap Material Design [END] -->
  
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="lib/angular-ui-date/src/date.js"></script>

  <script src="js/app.js"></script>
  <script src="js/home/home-controller.js"></script>
  <script src="js/auth/auth-controller.js"></script>
  <script src="js/auth/auth-service.js"></script>
  <script src="js/User/User-controller.js"></script>
  <script src="js/User/User-router.js"></script>
  <script src="js/User/User-service.js"></script>

  <script src="js/product/product-controller.js"></script>
  <script src="js/product/product-router.js"></script>
  <script src="js/product/product-service.js"></script>

  <script src="js/raw_material/raw_material-controller.js"></script>
  <script src="js/raw_material/raw_material-router.js"></script>
  <script src="js/raw_material/raw_material-service.js"></script>

  <script src="js/Order/Order-controller.js"></script>
  <script src="js/Order/Order-router.js"></script>
  <script src="js/Order/Order-service.js"></script>

  <script src="js/ProductionEntry/ProductionEntry-controller.js"></script>
  <script src="js/ProductionEntry/ProductionEntry-router.js"></script>
  <script src="js/ProductionEntry/ProductionEntry-service.js"></script>

  <script src="js/Machine/Machine-controller.js"></script>
  <script src="js/Machine/Machine-router.js"></script>
  <script src="js/Machine/Machine-service.js"></script>

  <script src="js/MachineMold/MachineMold-controller.js"></script>
  <script src="js/MachineMold/MachineMold-router.js"></script>
  <script src="js/MachineMold/MachineMold-service.js"></script>

  <script src="js/MachineQueue/MachineQueue-controller.js"></script>
  <script src="js/MachineQueue/MachineQueue-router.js"></script>
  <script src="js/MachineQueue/MachineQueue-service.js"></script>

  <script src="js/Shift/Shift-controller.js"></script>
  <script src="js/Shift/Shift-router.js"></script>
  <script src="js/Shift/Shift-service.js"></script>

  <script src="js/Schedule/Schedule-controller.js"></script>
  <script src="js/Schedule/Schedule-router.js"></script>
  <script src="js/Schedule/Schedule-service.js"></script>

  <script src="js/User/User-controller.js"></script>
  <script src="js/User/User-router.js"></script>
  <script src="js/User/User-service.js"></script>

</body>
</html>
