<div>

    <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> Colors</h2>

    <script type = "text/ng-template" id="Color-new.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myColorLabel">Add New Color</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Color Code:</label>
                    <input id="background-color" ng-model="Color.id" type="color" value="#008080" 
                    onchange="$('#color-hex').val(this.value);$('#name').val(ntc.name(this.value)[1]);"/> 
                    <input id="color-hex" type="text" ng-required="true" placeholder="Pick Color" readonly>
                </div>
                <div class="form-group">
                    <label>Color Name:</label>
                    
                    <input type="text" id="name" class="form-control" name="name"
                           ng-model="Color.name" ng-required="true"
                           ng-minlength="1" ng-maxlength="100"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least 1 characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 100 characters.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Add</button>
            </div>
        </form>
    </script>

    <script type = "text/ng-template" id="Color-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myColorLabel">Edit a Color</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Color Code:</label>
                    <input id="background-color" ng-model="Color.id" type="color" disabled/> 
                    <input type="text" ng-model="Color.id" ng-required="true" placeholder="Pick Color" readonly>
                </div>

                <div class="form-group">
                    <label>Color Name:</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="Color.name" ng-required="true"
                           ng-minlength=1 ng-maxlength=100/>
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least 1 characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most 100 characters.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-raised" ng-click="create()">
        Add Color
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Color Code</th>
                <th>Color Name</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Color in Colors">
                <td>{{Color.id}}</td>
                <td bgcolor="{{Color.id}}">{{Color.name }}</td>
                <td>{{Color.created_at  | date:'yyyy-MM-dd @ h:mma'}}</td>
                <td>{{Color.updated_at  | date:'yyyy-MM-dd @ h:mma'}}</td>
                <td>
                    <a ng-click="update(Color.id)" class="btn-sm btn-info">Edit</a>
                    <a ng-click="delete(Color.id)" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
