* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}
/* disable all rounded corners */
