body {
  padding-top: unset !important;
}

.box {
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar-default {
  background-color: #509ee3;
  border-color: #509ee3;
}

/* Home page dashboard */
.progress {
  width: 80%;
  height: 25px;
  margin-top: 20px; /* place the bar in the middle of product image */
}

.progress-bar {
  background-color: #509ee3;
  font-size: 21px !important;
  line-height: 21px !important;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

h1, h4 {
  color: #509ee3 !important;
/*  line-height: 25px; */
}

/* overrides pink color */
.label-info {
    background-color: #509ee3;
}

/* flex box on home page */
@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
}

.space { 
    word-spacing: 25px;
}
