body {
  padding-top: unset !important;
}

.box {
  float: left;
  width: 15px;
  height: 15px;
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar-default {
  background-color: #509ee3;
  border-color: #509ee3;
}

/* Home page dashboard */
.progress {
  width: 80%;
  height: 25px;
  margin-top: 20px; /* place the bar in the middle of product image */
}

.progress-bar {
  background-color: #509ee3;
  font-size: 21px !important;
  line-height: 21px !important;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row-first {
  height:80%;
  overflow: hidden;
}

.row-other {
  height:100%;
  overflow: hidden;
}

h1 {
  color: #509ee3 !important;
/*  line-height: 25px; */
}
