<div>

    <h2><i class="fa fa-plug" aria-hidden="true"></i> Machines</h2>

    <script type = "text/ng-template" id="Machine-new.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myMachineLabel">Add Machine</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    
                    <input type="text" class="form-control" name="id"
                           ng-model="Machine.id" ng-required="true"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="Machine.name" ng-required="true"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    
                    <input type="text" class="form-control" name="status"
                           ng-model="Machine.status" ng-required="true"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type = "text/ng-template" id="Machine-edit.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myMachineLabel">Edit Machine</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Machine.id" readonly>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="Machine.name" ng-required="false"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>Status</label>
                    
                    <input type="text" class="form-control" name="status"
                           ng-model="Machine.status" ng-required="false"
                           />
                    <span class="error" ng-show="form.status.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.status.$error.maxlength">Must be at most  characters.</span>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-raised" ng-click="create()">
        Add Machine
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Machine in Machines">
                <td>{{Machine.id}}</td>
                <td>{{Machine.name }}</td>
                <td>{{Machine.status}}</td>
                <td>{{Machine.created_at  | date:'yyyy-MM-dd @ h:mma'}}</td>
                <td>{{Machine.updated_at  | date:'yyyy-MM-dd @ h:mma'}}</td>
                <td>
                    <a ng-click="update(Machine.id)" class="btn-sm btn-info">Edit</a>
                    <a ng-click="delete(Machine.id)" class="btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
