<div>

    <h2>Machines</h2>

    <script type = "text/ng-template" id="Machine-new.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myMachineLabel">Add Machine</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="Machine.name" ng-required="false"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>Supervisor Effort (100% = 1 Person)</label>
                    
                    <input type="number" class="form-control" name="supported_mold_type"
                           ng-model="Machine.supervisor_attention" ng-required="false"
                           />
                    <span class="error" ng-show="form.supervisor_attention.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.supervisor_attention.$error.max">Must be less than or equal to .</span>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <script type = "text/ng-template" id="Machine-edit.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myMachineLabel">Edit Machine Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="Machine.id" readonly>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="Machine.name" ng-required="false"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>Supervisor Effort (100% = 1 person)</label>
                    
                    <input type="number" class="form-control" name="supported_mold_type"
                           ng-model="Machine.supervisor_attention" ng-required="false"
                           />
                    <span class="error" ng-show="form.supervisor_attention.$error.min">Must be greater than or equal to .</span>
                    <span class="error" ng-show="form.supervisor_attention.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>Status</label>
                    
                    <input type="text" class="form-control" name="status"
                           ng-model="Machine.status" ng-required="false"
                           />
                    <span class="error" ng-show="form.status.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.status.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-raised" ng-click="create()">
        <i class="material-icons">add_circle</i> Add Machine
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>Name</th>
                
                <th>Status</th>
                
                <th>Supervisor Effort (%)</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Machine in Machines">
                <td>{{Machine.id}}</td>
                
                <td>{{Machine.name }}</td>
                
                <td>{{Machine.status}}</td>
                
                <td>{{Machine.supervisor_attention }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(Machine.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(Machine.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
