Flask==0.12.2
Flask-Admin==1.5.0
Flask-SQLAlchemy==2.2
Flask-Security>=1.7.5
colour==0.1.4
sqlalchemy-utils==0.32.14
WTForms-Components==0.10.3
Flask-APScheduler==1.4.0
# Need 0.9.6 and above to fix TypeError: 'unicode' does not have the buffer interface
Werkzeug==0.12.2
enum==0.4.6
Pillow==2.5.1
gunicorn==19.7.1