{% extends 'admin/base.html' %}
{% block head_css %}
  {{ super() }}

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link href="/static/css/app.css" rel="stylesheet"> 
 
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="navbar-text btn-group pull-right">
    <span href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        {% if current_user.name -%}
        {{ current_user.name }}
        {% else -%}
        {{ current_user.email }}
        {%- endif %}<span class="caret"></span></span>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url_for('security.logout') }}"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}
