<div>

    <h2>Employees</h2>

    <script type = "text/ng-template" id="User-save.html">
        <form name="form" role="form" novalidate
              class="ng-scope ng-invalid ng-invalid-required ng-dirty"
              ng-submit="ok()">

            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myUserLabel">Create or edit a User</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                           ng-model="User.id" readonly>
                </div>

                
                <div class="form-group">
                    <label>name:</label>
                    
                    <input type="text" class="form-control" name="name"
                           ng-model="User.name" ng-required="true"
                           />
                    <span class="error" ng-show="form.name.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.name.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>email:</label>
                    
                    <input type="text" class="form-control" name="email"
                           ng-model="User.email" ng-required="false"
                           />
                    <span class="error" ng-show="form.email.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.email.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>phone:</label>
                    
                    <input type="text" class="form-control" name="phone"
                           ng-model="User.phone" ng-required="false"
                           />
                    <span class="error" ng-show="form.phone.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.phone.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>password_hash:</label>
                    
                    <input type="text" class="form-control" name="password_hash"
                           ng-model="User.password_hash" ng-required="true"
                           />
                    <span class="error" ng-show="form.password_hash.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.password_hash.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>level:</label>
                    
                    <input type="number" class="form-control" name="level"
                           ng-model="User.level" ng-required="false"
                           min=0 />
                    <span class="error" ng-show="form.level.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.level.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>salary:</label>
                    
                    <input type="number" class="form-control" name="salary"
                           ng-model="User.salary" ng-required="false"
                           min=0 />
                    <span class="error" ng-show="form.salary.$error.min">Must be greater than or equal to 0.</span>
                    <span class="error" ng-show="form.salary.$error.max">Must be less than or equal to .</span>
                </div>
                
                <div class="form-group">
                    <label>department:</label>
                    
                    <input type="text" class="form-control" name="department"
                           ng-model="User.department" ng-required="false"
                           />
                    <span class="error" ng-show="form.department.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.department.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>status:</label>
                    
                    <input type="text" class="form-control" name="status"
                           ng-model="User.status" ng-required="false"
                           />
                    <span class="error" ng-show="form.status.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.status.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>start_date:</label>
                    
                    <input type="text" class="form-control" name="start_date" ui-date="start_dateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="User.start_date" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>end_date:</label>
                    
                    <input type="text" class="form-control" name="end_date" ui-date="end_dateDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="User.end_date" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>profile_photo_url:</label>
                    
                    <input type="text" class="form-control" name="profile_photo_url"
                           ng-model="User.profile_photo_url" ng-required="false"
                           />
                    <span class="error" ng-show="form.profile_photo_url.$error.minlength">Must be at least  characters.</span>
                    <span class="error" ng-show="form.profile_photo_url.$error.maxlength">Must be at most  characters.</span>
                </div>
                
                <div class="form-group">
                    <label>last_login_at:</label>
                    
                    <input type="text" class="form-control" name="last_login_at" ui-date="last_login_atDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="User.last_login_at" ng-required="false"/>
                </div>
                
                <div class="form-group">
                    <label>modified_at:</label>
                    
                    <input type="text" class="form-control" name="modified_at" ui-date="modified_atDateOptions" ui-date-format="yy-mm-dd" 
                           ng-model="User.modified_at" ng-required="false"/>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </script>

    <button class="btn btn-primary btn-raised" ng-click="create()">
        <i class="material-icons">add_circle</i> Add Employee
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                
                <th>Phone</th>
                
                <th>Level</th>
                
                <th>Department</th>
                
                <th>Status</th>
                
                <th>Last Login</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="User in Users">
                <td>{{User.name }}</td>
                
                <td>{{User.phone }}</td>
                
                <td>{{User.level }}</td>
                
                <td>{{User.department }}</td>
                
                <td>{{User.status }}</td>
                
                <td>{{User.last_login_at  | date:'yyyy-MM-dd'}}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(User.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(User.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
